stages:
  - build
  # - test
  # - tag
  - deploy

############################ FOR BRANCH dev ###############################
#build
build-pa-fe:
  image: docker:stable
  variables:
    DOCKER_TLS_CERTDIR: ""
  services:
    - docker:dind
  stage: build
  script:
    - ls
    - sed -i "s/NEXT_PUBLIC_CLIENT_API_URL=/NEXT_PUBLIC_CLIENT_API_URL=${devNEXT_PUBLIC_CLIENT_API_URL}/g" .env.example
    - sed -i "s/SERVER_API_URL=/SERVER_API_URL=${devSERVER_API_URL}/g" .env.example
    - cat .env.example
    - docker login -u $DOCKER_USER_K8S -p $DOCKER_PASSWORD_K8S $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - dev
  tags:
    - bogor
    
####unit test
#unit_test:
#  image: $CI_REGISTRY_IMAGE:latest
#  stage: test
#  script:
#    - cp .env.example .env
#    - composer install
#    - php artisan key:generate
#    - php /var/www/html/vendor/bin/phpunit
#  only:
#    - master
#  tags:
#    - batam
 
#deploy
deploy-pa-fe:
  image: images.247.or.id/pandi/kubectl:bogor
  stage: deploy
  script:
    - sed -i "s/payment-aggregator-frontend:latest/payment-aggregator-frontend:$CI_COMMIT_SHORT_SHA/g" "deploy/d-pa-fe.yml"
    - kubectl apply -f deploy/d-pa-fe.yml
  only:
    - dev
  tags:
    - bogor
